@font-face {
    font-family: Rubik-Light;
    src: url(fonts/static/Rubik-Light.ttf);
}
:root {
    --blue: hsl(246, 80%, 60%);
    --light-red: hsl(15, 100%, 70%);
    --soft-blue: hsl(195, 74%, 62%);
    --light-red-2: hsl(348, 100%, 68%);
    --lime-green: hsl(145, 58%, 55%);
    --violet: hsl(264, 64%, 52%);
    --soft-orange: hsl(43, 84%, 65%);
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
}
html, body, h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}
html, body {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    color: white;
    background: var(--very-dark-blue);
    font-family: Rubik-Light;
    overflow-x: hidden;
}
main {
    display: grid;
    grid-template-rows: 1.2fr repeat(5, 1fr);
    width: min(90%, 18em);
}
header, #period {
    display: flex;
    align-items: center;
}
header, #period, .icon, .maindiv {
    position: relative;
}
header {
    background-color: var(--blue);
    height: 7em;
    padding-left: 1em;
    border-radius: 1em;
    z-index: 2;
    top: 0.5em;
}

h1, h2 {
    color: var(--pale-blue);
}
h1 {
    font-size: 0.7em;
}
h2 {
    font-size: 1.2em;
}
#jeremy {
    width: 3em;
    height: 3em;
    margin-right: 1em;
    border: 3px solid white;
    border-radius: 50%;
}
#period {
    column-gap: 10%;
    background-color: var(--dark-blue);
    height: 4em;
    justify-content: center;
    border-radius: 0 0 1em 1em;
}
.modes {
    color: var(--desaturated-blue);
}
.modes:hover {
    color: white;
    cursor: pointer;
}
.subdiv {
    height: 5em;
    overflow: hidden;
    top: -10em;
    border-radius: 1em;
}
.icon {
    top: -1em;
    right: -11em;
    filter: grayscale(100%);
    opacity: 0.4;
}
.maindiv {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1fr);
    align-items: center;
    background-color: var(--dark-blue);
    height: 3em;
    border-radius: 1em;
    padding: 1.5em 1em;
    line-height: 0%;
    top: -2.5em;
}
.dots {
    margin-left: 80%;
}
.hours {
    font-size: 2em;
}
.last {
    font-size: clamp(0.6em, 1.5vw, 0.9em);
    color: var(--desaturated-blue);
    justify-self: flex-end;
    margin-right: 0;
}
#subdiv1 {
    background-color: var(--light-red);
}
#subdiv2 {
    background-color: var(--soft-blue);
}
#subdiv3 {
    background-color: var(--light-red-2);
}
#subdiv4 {
    background-color: var(--lime-green);
}

#subdiv5 {
    background-color: var(--violet);
}
#subdiv6 {
    background-color: var(--soft-orange);
}
.maindiv:hover {
    background-color: var(--blue);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
@media (min-width: 760px) {
    main {
        width: 90vw;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 40% 40%;
        gap: 1.5em;
    }
    .informations {
        position: relative;
        top: -0.5em;
    }
    .grid-row-span-2 {
        grid-row: span 2;
    }
    header {
        height: 60%;
        padding-top: 1.5em;
    }
    h2 {
        font-size: clamp(1.5em, 3vw, 2.5em);
    }
    h3 {
        margin-top: 4%;
    }
    h3 {
        font-size: clamp(0.8em, 2vw, 1em);
    }
    #jeremy {
        margin-bottom: 2em;
    }
    #period {
        height: 36.5%;
        padding-left: 8%;
        row-gap: 1em;
    }
    header, #period {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .maindiv {
        display: flex;
        row-gap: 0;
        flex-direction: column;
        height: 8.5em;
        align-items: flex-start;
    }
    .hours, .last, .dots {
        position: absolute;
    }
    .hours {
        font-size: clamp(2.5em, 3vw, 3.5em);
        padding-left: 0.2em;
        padding-top: 0.3em;
    }
    .last {
        grid-row-start: 3;
        justify-self: flex-start;
        font-size: clamp(0.8em, 1vw, 1.2em);
        padding-left: 0.8em;
        top: 70%
    }
    .dots {
        right: 10%;
    }
    .icon {
        right: -65%;
        width: clamp(4em, 6vw, 7em);
    }
}